<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a href="{{ url_for('index') }}">Voting</a>
            <a href="{{ url_for('top') }}">Mega Milfs</a>
            <a href="{{ url_for('stats') }}">Stats</a>
            <a href="{{ url_for('invalid') }}">Removed Cards</a>
        </div>
    {% block content %}
    <h1>Invalid Images</h1>
    <div class="gallery" style="display: flex; flex-wrap: wrap;">
        {% for card in cards %}
        <div class="card" style="flex: 1 0 21%; margin: 1%;">
            <img src="{{ card.art_url }}" alt="{{ card.name }}" style="width: 100%;">
            <p>{{ card.name }}</p>
            <p>Elo rating: {{ card.elo }}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    </body>
</html>
