<!doctype html>
<html lang="en">
    <head>
        <style>
            .gallery {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(calc(22%), 1fr));
                gap: 10px;
            }

            .card img {
                width: 100%;
                height: auto;
            }
        </style>
    </head>
    <body>
    {% block content %}
    <h1>The Menagerie of Mega Mommy Milfs</h1>
    <div class="gallery">
        {% for card in cards %}
        <div class="card">
            <img src="{{ card.art_url }}" alt="{{ card.name }}">
            <p>{{ card.name }}</p>
            <p>Elo rating: {{ card.elo }}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    </body>
</html>
